.theme-custom {
      transition: all 1.1s ease;
      background-color: #b71515 ;
      background: #b71515 ;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      .toolbar-title,
      .bar-button-default,
      body,
      div {
        color: white;
      }
      .onboard {
        border-color: #212121 !important;
      }
      .toolbar-background,
      .toggle-checked {
        background-color: #212121 !important;
      }
      ion-content,
      .input-wrapper,
      .item-inner,
      .item,
      ion-footer,
      ion-item,
      ion-label {
        transition: all 1.1s ease;
        background-color: #b71515!important;
        background: #b71515 !important;
        color: white !important;
      }
      ion-list {
        background-color: #100815;
      }
      .time {
        background-color: white;
      }
      .item {
        background-color: #100815;
        color: white;
      }
      .range-bar {
        background-color: #463E3F !important;
      }
      .s2,
      .s3,
      .toggle-inner,
      .range-pin,
      .range-pin::before,
      .range-knob,
      .range-bar-active {
        background-color: white !important;
        color: black !important;
      }
}